@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
    @apply w-full p-0 bg-gradient-to-b from-gray-50 to-gray-200
}

.innerWrapper{
    @apply max-w-screen-xl mx-auto
}

.heading{
    @apply font-bold leading-tight text-[calc(1rem+0.02*90vw)] xl:text-3xl;
    /* font-size: calc(1.5rem + 0.02 * 100vw); */
}

body{
    @apply bg-gray-50 text-pretty font-serif text-[calc(0.4rem+0.018*80vh)] xl:text-xl;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
